# Database Connection String
DATABASE_URL="postgresql://neondb_owner:npg_YpmwN9VuQo5T@ep-ancient-sky-atqxcg5t.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"

# JWT Authentication
JWT_SECRET="make-a-long-random-secret-key-for-dd360"
ADMIN_EMAIL="dd360health@gmail.com"
ADMIN_PASSWORD="Adminpassword"
NEXT_PUBLIC_APP_URL="https://dd360health.com"

# Razorpay Payment Gateway
RAZORPAY_KEY_ID="rzp_live_TIS18xaxSTgnNK"
RAZORPAY_KEY_SECRET="T1aLVDGBU5TnyBUAFxxUYpDx"

# Gmail SMTP Email Dispatch (App Password)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="dd360health@gmail.com"
SMTP_PASS="iuppabxtdlltvfjm"
SMTP_FROM="DermaDental360 <dd360health@gmail.com>"
